html,
body { margin: 0 auto; padding: 0; max-width: 750px; font-size: .16rem; }
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
address, cite, dfn, em, var { font-style:normal; }
code, kbd, pre, samp { font-family:couriernew, courier, monospace; }
small{ font-size:12px; }
ul, ol { list-style:none; }
a { text-decoration:none; }
a:hover { text-decoration:none; }
sup { vertical-align:text-top; }
sub{ vertical-align:text-bottom; }
legend { color:#000; }
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
table { border-collapse:collapse; border-spacing:0; }

img{ display: block; max-width: 100%; }
.mint-tab-item{ padding: .1rem 0; box-sizing: border-box; }
.mint-tab-item-icon{ width: .5rem; height: .5rem; margin: 0 auto; }
.nav-com .mint-tab-item-label{ height: .3rem; line-height: .3rem; padding-top: .1rem; box-sizing: border-box; }
.com-classify-list{ display: flex; padding: .1rem; box-sizing: border-box; text-align: center; }
.com-classify-btn{ flex: 1; padding: 0 .1rem; box-sizing: border-box; overflow: hidden; }
.com-classify-btn i{ width: 70%; margin: 0 auto; border-radius: 100%; overflow: hidden; }
.com-classify-btn em{ padding: .1rem; font-size: .2rem; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.com-classify-btn i, .com-classify-btn em{ display: block; }
.com-classify-btn i img{ display: block; width: 100%; }
.mint-header{max-width: 750px;margin: 0 auto;height: 0.8rem;z-index: 2;
  font-size: 0.28rem;
  padding: 0 0.2rem;box-sizing: border-box}
.mintui{
  font-size: 0.32rem;
}
.mint-spinner-fading-circle{ left: 50%; transform: translateX(-50%); }